[Unit]
Description=OpenLDAP server daemon

[Service]
Type=forking
ExecStart=/usr/bin/slapd -u ldap -g ldap -h "ldap:// ldaps:///"

[Install]
WantedBy=multi-user.target
